Workflow_2/WebSec_SubAgent_Worker.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-02-05T19:40:55.657Z",
    "createdAt": "2026-02-05T18:58:28.677Z",
    "id": "hnStxD29gy2uauhe",
    "name": "WebSec_SubAgent_Worker",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.task }}",
          "options": {}
        },
        "id": "sub-agent-ai",
        "name": "Sub-Agent AI",
        "position": [
          512,
          304
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7
      },
      {
        "parameters": {
          "model": "z-ai/glm-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          384,
          512
        ],
        "id": "03dc9951-8fb0-47cd-8257-d5c0e1b9093a",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "EDqwRIKAEHCDMQuY",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {},
        "id": "trigger-node",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          256,
          304
        ]
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Sub-Agent AI",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Sub-Agent AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "all",
      "saveManualExecutions": true,
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "34104b7a-e681-48f7-9d8d-d17831ae3269",
    "activeVersionId": null,
    "versionCounter": 13,
    "triggerCount": 0,
    "tags": [],
    "activeVersion": null
  }
}